
   body { /* no . means element type */
        text-align: center; /* text-align centers text AND children */
 
      }
      
      .avatar-container .Player-username {
        font-size: 2em;
        font-family: "papyrus", fantasy;
          color:rgba(104, 118, 243, 0.685);
    }
 

h2,h3 {
    color: rgba(102, 31, 216, 0.685);
  }

h4{
   color: rgba(0, 140, 255, 0.76)
}


span.test{
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: pink; 
}

p {
  color: rgba(0, 140, 255, 0.76);
   font-family: "Lucida Handwriting", cursive; 
}

.container {
    max-width: none !important;

   background-image: url('https://i.imgur.com/5aehvPb.jpg');

}

.image {
width: 20%;
border-radius: 20px;
margin-left: auto;
margin-right: auto;
}

.images {
 width: 5%;
margin-left: auto;
margin-right: auto;
border-radius: 40px;
}

.about-container h1 {
    color:rgba(247, 163, 38, 0.89);
    font-size: 3em;
    position: absolute;
    width: 100%;
    height: 100%;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scrolling 15s linear infinite;
    -webkit-animation: scrolling 15s linear infinite;
    animation: scrolling 15s linear infinite;
}


/* Move it (define the animation) */
@-moz-keyframes scrolling {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scrolling {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scrolling {
     0%   { 
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%); 		
    }
    100% { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 
    }
}

/*If you change the background colours in the classes*/

.library-won-result-vs-stronger
.library-won-result-vs-weaker
.library-lost-result-vs-weaker {  background-color: rgba(255, 255, 128, .5) !important;}
.library-lost-result-vs-stronger

/*and for the game history table colours of*/

.library-lost-result-unranked
.library-won-result-unranked

/* and for the pie chart change the colours of fill*/

.strong-wins
.strong-losses {   fill:rgba(104, 118, 243, 0.685) !important;}
.weak-wins
.weak-losses




