
   body { /* no . means element type */
        text-align: center; /* text-align centers text AND children */
 
      }



      
      .avatar-container .Player-username {
        font-size: 2em;
        font-family: "papyrus", fantasy;
          color:rgba(104, 118, 243, 0.685);
    }
 



  h1 {
  color: rgba(255, 0, 170, 0.685);
}

h2,h3 {
    color: rgba(153, 0, 255, 0.795);
  }

p {
  color: rgba(255, 123, 0, 0.801);
   font-family: "Lucida Handwriting", cursive; 
}

.container {
    max-width: none !important;

   background-image: url('https://i.imgur.com/5aehvPb.jpg');

}

.image {
 width: 20%;
margin-left: auto;
margin-right: auto;
border-radius: 20px;
}

.about-container h1 {
    color:rgba(255, 60, 0, 0.795);
    font-size: 3em;
    position: absolute;
    width: 100%;
    height: 100%;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scrolling 15s linear infinite;
    -webkit-animation: scrolling 15s linear infinite;
    animation: scrolling 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scrolling {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scrolling {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scrolling {
     0%   { 
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%); 		
    }
    100% { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 
    }
}





