

    body { /* no . means element type */
        text-align: center; /* text-align centers text AND children */
 
      }


  h1 {
  color: rgba(255, 0, 170, 0.685);
}

h2,h3 {
    color: rgba(153, 0, 255, 0.795);
  }

p {
  color: rgba(255, 123, 0, 0.801);
}

    
      
      .avatar-container .Player-username {
        font-size: 2em;
        font-family: "Comic Sans MS", cursive, serif;
          color:rgba(153, 0, 255, 0.795);
    }
 



.container {
    max-width: none !important;
background-image: url('cixidetroy.github.io/croix-ankh_grande.jpg');
}
